<!-- start tp-site-footer -->
<footer class="tp-site-footer">
    <div class="tp-upper-footer">
        <div class="container">
            <div class="row">
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget about-widget">
                        <div class="footer-logo widget-title">
                            <a class="navbar-brand" href="/" style="width: max-content;">
                                <img src="/images/logo/logo.png" alt="logo"/>
                                جمعيه خيريه  <br /><br />  لمرضي السرطان
                            </a>
                            <br /><br /><br />
                        </div>
                        <p>
                            أنشئ واكسب من خلال متجرك عبر الإنترنت مع
                            الكثير من ميزات tp الرائعة والحصرية
                        </p>
                        <ul>
                            <li>
                                <a href="#"
                                    ><i class="ti-facebook"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="ti-twitter-alt"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="ti-instagram"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="ti-google"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col col-lg-2 col-md-3 col-sm-6">
                    <div class="widget link-widget">
                        <div class="widget-title">
                            <h3>روابط مفيدة</h3>
                        </div>
                        <ul>
                            <li>
                                <a href="/about">معلومات عنا</a>
                            </li>
                            <li>
                                <a href="/causes">أسبابنا</a>
                            </li>
                            <li>
                                <a href="/volunteer"
                                    >متطوع لدينا</a
                                >
                            </li>
                            <li>
                                <a href="/contact">اتصل بنا</a>
                            </li>
                            <li><a href="/event">حدثنا</a></li>
                        </ul>
                    </div>
                </div>
                <div
                    class="
                        col
                        col-lg-3
                        col-lg-offset-1
                        col-md-3
                        col-sm-6
                    "
                >
                    <div
                        class="
                            widget
                            market-widget
                            tp-service-link-widget
                        "
                    >
                        <div class="widget-title">
                            <h3>اتصل</h3>
                        </div>
                        <p>
                            متجر على الإنترنت به الكثير من ميزات
                            الرائعة والحصرية
                        </p>
                        <div class="contact-ft">
                            <ul>
                                <li>
                                    <i class="fi flaticon-pin"></i>خلف المنطقة الحرة – طريق الكافوري الكيلو 31 الطريق الصحراوي – الإسكندرية
                                </li>
                                <li>
                                    +000123456789<i
                                        class="fi flaticon-call"
                                    ></i>
                                </li>
                                <li>
                                    khairah@gmail.com
                                    <i
                                        class="fi flaticon-envelope"
                                    ></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget instagram">
                        <div class="widget-title">
                            <h3>انستغرام</h3>
                        </div>
                        <ul class="d-flex">
                            <li>
                                <a href="#"
                                    ><img
                                        src="/images/instragram/1.jpg"
                                        alt=""
                                /></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><img
                                        src="/images/instragram/2.jpg"
                                        alt=""
                                /></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><img
                                        src="/images/instragram/3.jpg"
                                        alt=""
                                /></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><img
                                        src="/images/instragram/4.jpg"
                                        alt=""
                                /></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><img
                                        src="/images/instragram/5.jpg"
                                        alt=""
                                /></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><img
                                        src="/images/instragram/6.jpg"
                                        alt=""
                                /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </div>
    <div class="tp-lower-footer">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <p class="copyright">
                        © 2020 خيرة. كل الحقوق محفوظة
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end tp-site-footer -->