<!-- start preloader -->
<div class="preloader" style="display: none">
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</div>
<!-- end preloader -->
<!-- Start header -->
<header id="header" class="tp-site-header header-style-3">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col col-sm-5">
                    <p>
                        <i class="ti-location-pin"></i> 27 Division
                        St, New York, NY 10002
                    </p>
                </div>
                <div class="col col-sm-7">
                    <div class="social">
                        <ul>
                            <li>
                                <a
                                    href="https://www.facebook.com/"
                                    target="_blank"
                                    ><i class="ti-facebook"></i
                                ></a>
                            </li>
                            <li>
                                <a
                                    href="https://twitter.com/"
                                    target="_blank"
                                    ><i class="ti-twitter-alt"></i
                                ></a>
                            </li>
                            <li>
                                <a
                                    href="https://vimeo.com/"
                                    target="_blank"
                                    ><i class="ti-vimeo-alt"></i
                                ></a>
                            </li>
                            <li>
                                <a
                                    href="https://www.linkedin.com/"
                                    target="_blank"
                                    ><i class="ti-linkedin"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </div>
    <!-- end topbar -->
    <nav class="navigation navbar navbar-default original">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="open-btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/images/logo/logo.png" alt="logo"/>
                    جمعيه خيريه  <br /><br />  لمرضي السرطان
                </a>
            </div>
            <div
                id="navbar"
                class="navbar-collapse collapse navigation-holder"
            >
                <button class="close-navbar">
                    <i class="ti-close"></i>
                </button>
                <ul class="nav navbar-nav">
                    <li>
                        <a class="active" href="/"
                            >الصفحة الرئيسية</a
                        >
                    </li>
                    <li>
                        <a href="/about">حول</a>
                    </li>
                    <li>
                        <a href="/causes">الأسباب</a>
                    </li>
                    <li>
                        <a href="/event">الاحداث</a>
                    </li>
                    <li>
                        <a href="/volunteer">تطوع </a>
                    </li>
                    <li><a href="/contact">اتصل</a></li>
                </ul>
            </div>
            <!-- end of nav-collapse -->
        </div>
        <!-- end of container -->
    </nav>
    <nav class="navigation navbar navbar-default sticky-header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="open-btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"
                    ><img
                        src="/images/logo/logo.png"
                        alt="logo"
                    />خير<span>يه.</span></a
                >
            </div>
            <div
                id="navbar"
                class="navbar-collapse collapse navigation-holder"
            >
                <button class="close-navbar">
                    <i class="ti-close"></i>
                </button>
                <ul class="nav navbar-nav">
                    <li>
                        <a class="active" href="/"
                            >الصفحة الرئيسية</a
                        >
                    </li>
                    <li>
                        <a href="/about">حول</a>
                    </li>
                    <li>
                        <a href="/causes">الأسباب</a>
                    </li>
                    <li>
                        <a href="/event">الاحداث</a>
                    </li>
                    <li>
                        <a href="/volunteer">تطوع </a>
                    </li>
                    <li><a href="/contact">اتصل</a></li>
                </ul>
            </div>
            <!-- end of nav-collapse -->
        </div>
        <!-- end of container -->
    </nav>
</header>
<!-- end of header -->