<html lang="en" class="">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="shortcut icon"
            type="image/png"
            href="/images/icon.png"
        />
        <meta name="author" content="wpoceans" />
        <title>Khairah - Charity Nonprofit HTML 5 Template</title>
        <link href="/css/themify-icons.css" rel="stylesheet" />
        <link href="/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/css/flaticon.css" rel="stylesheet" />
        <link href="/css/odometer-theme-default.css" rel="stylesheet" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/animate.css" rel="stylesheet" />
        <link href="/css/owl.carousel.css" rel="stylesheet" />
        <link href="/css/owl.theme.css" rel="stylesheet" />
        <link href="/css/slick.css" rel="stylesheet" />
        <link href="/css/slick-theme.css" rel="stylesheet" />
        <link href="/css/swiper.min.css" rel="stylesheet" />
        <link href="/css/owl.transitions.css" rel="stylesheet" />
        <link href="/css/jquery.fancybox.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
            .fancybox-margin {
                margin-right: 17px;
            }
        </style>
    </head>

    <body cz-shortcut-listen="true">
        <!-- start page-wrapper -->
        <div class="page-wrapper">
            <%- include('components/header')%>
            <!-- start page-title -->
            <section class="page-title">
                <div class="page-title-container">
                    <div class="page-title-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col col-xs-12">
                                    <h2>تبرع الآن</h2>
                                    <ol class="breadcrumb">
                                        <li>
                                            <a href="/"
                                                >الصفحة الرئيسية</a
                                            >
                                        </li>
                                        <li>تبرع</li>
                                    </ol>
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end container -->
                    </div>
                </div>
            </section>
            <!-- end page-title -->
            <!-- tp-event-area start -->
            <div class="tp-donation-page-area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div
                                class="section-title section-title2 text-center"
                            >
                                <div class="thumb-text">
                                    <span>تبرع</span>
                                </div>
                                <h2>التبرع</h2>
                            </div>
                            <div id="Donations" class="tab-pane">
                                <form action="#">
                                    <div class="tp-donations-amount">
                                        <h2>تبرعك</h2>
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="text"
                                            id="text"
                                            placeholder="أدخل مبلغ التبرع"
                                        />
                                    </div>
                                    <div class="tp-donations-details">
                                        <h2>تفاصيل</h2>
                                        <div class="row">
                                            <div
                                                class="
                                                    col-lg-6
                                                    col-md-6
                                                    col-sm-6
                                                    col-12
                                                    form-group
                                                "
                                            >
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    name="name"
                                                    id="fname"
                                                    placeholder="الاسم الاول"
                                                />
                                            </div>
                                            <div
                                                class="
                                                    col-lg-6
                                                    col-md-6
                                                    col-sm-6
                                                    col-12
                                                    form-group
                                                "
                                            >
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    name="name"
                                                    id="name"
                                                    placeholder="الكنية"
                                                />
                                            </div>
                                            <div
                                                class="
                                                    col-lg-6
                                                    col-md-6
                                                    col-sm-6
                                                    col-12
                                                    form-group
                                                    clearfix
                                                "
                                            >
                                                <input
                                                    type="email"
                                                    class="form-control"
                                                    name="email"
                                                    id="email"
                                                    placeholder="البريد الإلكتروني"
                                                />
                                            </div>
                                            <div
                                                class="
                                                    col-lg-6
                                                    col-md-6
                                                    col-sm-6
                                                    col-12
                                                    form-group
                                                "
                                            >
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    name="Adress"
                                                    id="Adress"
                                                    placeholder="العنوان"
                                                />
                                            </div>
                                            <div
                                                class="
                                                    col-lg-12 col-12
                                                    form-group
                                                "
                                            >
                                                <textarea
                                                    class="form-control"
                                                    name="note"
                                                    id="note"
                                                    placeholder="رسالة"
                                                ></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-doanation-payment">
                                        <h2>اختر طريقتك في الدفع</h2>
                                        <div class="tp-payment-area">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div
                                                        class="
                                                            tp-payment-option
                                                        "
                                                        id="open4"
                                                    >
                                                        <div
                                                            class="
                                                                tp-payment-select
                                                            "
                                                        >
                                                            <ul>
                                                                <li
                                                                    class="
                                                                        addToggle
                                                                    "
                                                                >
                                                                    <input
                                                                        id="add"
                                                                        type="radio"
                                                                        checked="checked"
                                                                        name="payment"
                                                                        value="30"
                                                                    />
                                                                    <label
                                                                        for="add"
                                                                        >الدفع
                                                                        بالبطاقة</label
                                                                    >
                                                                </li>
                                                                <li
                                                                    class="
                                                                        removeToggle
                                                                    "
                                                                >
                                                                    <input
                                                                        id="remove"
                                                                        type="radio"
                                                                        name="payment"
                                                                        value="30"
                                                                    />
                                                                    <label
                                                                        for="remove"
                                                                        >التبرع
                                                                        دون
                                                                        اتصال
                                                                        بالإنترنت</label
                                                                    >
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div
                                                            id="open5"
                                                            class="payment-name"
                                                        >
                                                            <ul>
                                                                <li
                                                                    class="visa"
                                                                >
                                                                    <input
                                                                        id="1"
                                                                        type="radio"
                                                                        name="size"
                                                                        value="30"
                                                                    />
                                                                    <label
                                                                        for="1"
                                                                        ><img
                                                                            src="/images/checkout/img-1.png"
                                                                            alt=""
                                                                    /></label>
                                                                </li>
                                                                <li class="mas">
                                                                    <input
                                                                        id="2"
                                                                        type="radio"
                                                                        name="size"
                                                                        value="30"
                                                                    />
                                                                    <label
                                                                        for="2"
                                                                        ><img
                                                                            src="/images/checkout/img-2.png"
                                                                            alt=""
                                                                    /></label>
                                                                </li>
                                                                <li class="ski">
                                                                    <input
                                                                        id="3"
                                                                        type="radio"
                                                                        name="size"
                                                                        value="30"
                                                                    />
                                                                    <label
                                                                        for="3"
                                                                        ><img
                                                                            src="/images/checkout/img-3.png"
                                                                            alt=""
                                                                    /></label>
                                                                </li>
                                                                <li class="pay">
                                                                    <input
                                                                        id="4"
                                                                        type="radio"
                                                                        name="size"
                                                                        value="30"
                                                                    />
                                                                    <label
                                                                        for="4"
                                                                        ><img
                                                                            src="/images/checkout/img-4.png"
                                                                            alt=""
                                                                    /></label>
                                                                </li>
                                                            </ul>
                                                            <div
                                                                class="
                                                                    contact-form
                                                                    form-style
                                                                "
                                                            >
                                                                <div
                                                                    class="row"
                                                                >
                                                                    <div
                                                                        class="
                                                                            col-lg-6
                                                                            col-md-12
                                                                            col-12
                                                                        "
                                                                    >
                                                                        <label
                                                                            >إسم
                                                                            صاحب
                                                                            البطاقة</label
                                                                        >
                                                                        <input
                                                                            type="text"
                                                                            placeholder=""
                                                                            name="name"
                                                                        />
                                                                    </div>
                                                                    <div
                                                                        class="
                                                                            col-lg-6
                                                                            col-md-12
                                                                            col-12
                                                                        "
                                                                    >
                                                                        <label
                                                                            >رقم
                                                                            البطاقة</label
                                                                        >
                                                                        <input
                                                                            type="text"
                                                                            placeholder=""
                                                                            name="card"
                                                                        />
                                                                    </div>
                                                                    <div
                                                                        class="
                                                                            col-lg-6
                                                                            col-md-12
                                                                            col-12
                                                                        "
                                                                    >
                                                                        <label
                                                                            >CVV</label
                                                                        >
                                                                        <input
                                                                            type="text"
                                                                            placeholder=""
                                                                            name="CVV"
                                                                        />
                                                                    </div>
                                                                    <div
                                                                        class="
                                                                            col-lg-6
                                                                            col-md-12
                                                                            col-12
                                                                        "
                                                                    >
                                                                        <label
                                                                            >تاريخ
                                                                            انتهاء
                                                                            الصلاحية</label
                                                                        >
                                                                        <input
                                                                            type="text"
                                                                            placeholder=""
                                                                            name="date"
                                                                        />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit-area">
                                        <button
                                            type="submit"
                                            class="theme-btn submit-btn"
                                        >
                                            تبرع الآن
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- tp-event-area end -->
            <%- include('components/footer')%>
        </div>
        <!-- end of page-wrapper -->
        <!-- All JavaScript files
    ================================================== -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <!-- Plugins for this template -->
        <script src="/js/jquery-plugin-collection.js"></script>
        <!-- Custom script for this template -->
        <script src="/js/script.js"></script>
        <a href="#" class="back-to-top"
            ><i class="fa fa-angle-double-up"></i
        ></a>
    </body>
</html>
